@tailwind base;
@tailwind components;
@tailwind utilities;

.CircularProgressbar {
    width: 70% !important;
}
.CircularProgressbar-text{
    transform: rotate(90deg);
}
.barr{
    margin-top: -20px;
    margin-bottom: -20px;
}
.lft{
    left: 45%;
}
.lft .sml{
    font-size: 10px;
}

/* Progress Bar */

div[role="progressbar"] span{
    margin-right: auto;
    margin-left: auto;
    font-size: 10px !important;
}

.prp{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.th1{
    border-top-left-radius: 8px;
}
.th2{
    border-top-right-radius: 8px    ;
}

.component-transition {
    opacity: 0;
    transition: opacity 0.2s ease; /* Adjust the duration as needed */
    pointer-events: none; /* Disable interaction during the transition */
  }
  
  .component-transition.active {
    opacity: 1;
    pointer-events: auto; /* Enable interaction after the transition */
  }
  

  .hM{
    height: 500px;
  }

 .scrollOFF::-webkit-scrollbar{
    display: none;
 }

 .gP{
    background: linear-gradient(97deg,  #c39bd3, #a901f1);
    background-clip: text;
    
    color: transparent;
 }

 @keyframes rotateImage {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

 
  .rotate-image {
    width: 50%;
    max-width: 100px; 
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    animation: rotateImage 20s linear infinite;
  }